.row {
    margin-left: 0px;
    margin-right: 0px;
}

.fotos-enlaces .row{
	padding-bottom: 20px;
}

.container {
	background-color: #fff;
}

/*LOGO Y MENU */

.caja {
	background-color: #464444;
	padding: 20px;
}

.caja nav a {
	margin-top: 70px;
	margin-left: 20px;
	margin-right:0px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 14px;
	float: right;
}

/*CUATRO FOTOS */

.fondo-gris {
	background-color: #E3E2E2;
	padding: 20px;
}

.Lastest {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial;
	font-size: 18px;
}

.more{
	font-size: 12px;
	padding-left: 5px;
}

img{
	max-width: 100%;
}

.fondo-gris img{
	border:2px solid #fff;
}

.fondo-gris .col-3 {
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color:#0C06F8;
}

/*GALERIA DE FOTOS */

.fotos-enlaces{
	padding-top: 40px;
}

.fotos-enlaces{
	max-width: 100%;	
}

.fotos-enlaces .col-2{
	text-align: center;
	font-family: Arial;
	font-size: 11px;
	color:#0C06F8;
}

.fotos-enlaces .col-2 img{
	border:2px solid #A2A2A2;
}

/*GALERIA DE FOTO -ENLACES */

.suscribe{
	padding-top: 10px;
	padding-bottom:2px;
	font-family: Arial;
	font-size: 14px;
}

.linea{
	border:1px solid;
	border-color: #000;
	border-top: none;
	border-left: none;
	border-right: none;
}

.iconos-uno{
	padding-top: 20px;
	padding-bottom:5px;
	font-family: Arial;
	font-size: 12px;
	color:#030EEB;
}

.iconos-dos, .iconos-tres{
	padding-top: 5px;
	padding-bottom:5px;
	font-family: Arial;
	font-size: 12px;
	color:#030EEB;
}


.ico{
	padding-right: 10px;
}

.apps{
	padding-top: 30px;
	padding-bottom:2px;
	font-family: Arial;
	font-size: 14px;
}

.text{
	padding:10px;
	font-family: Arial;
	font-size: 12px;
}

/*PIE DE PAGINA */
	.pie-de-pagina{
		background-color: #4A4949;
		padding: 20px;
	}

	.parrafo-pie{
		font-family: Arial;
		font-size: 12px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: justify;
		color:#fff;
	}

	.parrofo-pie{
		max-width: 100%;
	}

	.enlaces-pie-pagina{
		text-align: center;
		color:#fff;
		font-family: Arial;
		font-size: 12px;
		padding-top: 30px;
	}

	.pie-pagina{

		margin-left: 20px;
		margin-right:0px;
		text-decoration: none;
		color: #FFFFFF;
		font-family: Arial;
		font-size: 12px;
	}
		
	.copy{
		font-family: Arial;
		font-size: 12px;
		padding-top: 30px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		color:#fff;
	}